<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Notes</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>
</header>
<body class="center-align">
  <h4 class="title">Add a New Note</h4>
  <div class="row">
    <form class="col s8 offset-s3">
      <div class="row">
        <div class="input-field col s8 center-align">
          <input id="titleText" #titleInput type="text" class="validate">
          <label for="titleText">Title</label>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <form class="col s8 offset-s3">
      <div class="row">
        <div class="input-field col s8 center-align">
          <textarea id="textArea" #bodyInput type="text" class="materialize-textarea"></textarea>
          <label for="textArea">Body</label>
        </div>
      </div>
    </form>
  </div>
  <a class="waves-effect waves-light btn-large col s6" (click)="addNote(titleInput,bodyInput);clearInput(titleInput,bodyInput)" >CREATE NOTE</a>
    <ul class="collapsible">
      <li class="collection-item" *ngFor='let activity of noteList'>
        <div class="collapsible-header"><i class="material-icons">speaker_notes</i>{{activity.title}}</div>
        <div class="collapsible-body"><span>{{activity.body}}</span></div>
      </li>
    </ul>
</body>
<footer></footer>
